{% extends "layouts/_default.twig" %}
{% block main_content %}
    <h1>Viewing Single Quiz: {{ quiz.name }}</h1>
    <ul>
        <li><strong>ID: </strong>{{ quiz.id }}</li>
        <li><strong>Weight: </strong>{{ quiz.weight }}</li>
        <li><strong>Created At: </strong>{{ quiz.createdAt }}</li>
        <li><strong>Updated At: </strong>{{ quiz.updatedAt }}</li>
    </ul>

    <p>
        <a href="/quizzes/{{ quiz.id }}/edit">Edit</a> | <a href="/quizzes/{{ quiz.id }}/delete">Delete</a>
    </p>
{% endblock %}
